header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
}

h1 {
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.inputs,
.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 360px;
}

label {
  padding-bottom: 8px;
}

.buttons{
    padding-top: 16px;
}

.buttons input {
  margin-bottom: 16px;
  width: 75%;
  align-self: center;
}
@media screen and (max-width: 600px) {
    .inputs,
    .buttons {
      max-width: 100%;
    }
}

body{
    margin:  0;
}